<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/styles/common.css">
</head>
<body>
	<div class="layout-container">
		{{{body}}}
	</div>
</body>
</html>